/.vs/CL22/v15/*.db
/*.filters
/Debug/*.idb
/.vs/CL22/v15/ipch/AutoPCH/2be6832350cdae5/*.ipch
/.vs/CL22/v15/ipch/AutoPCH/60d826730ca33fd/*.ipch
/.vs/CL22/v15/ipch/AutoPCH/982251519e8fa9db/*.ipch
/.vs/CL22/v15/ipch/AutoPCH/c7827b5610583666/*.ipch
/ipch/dx11_20160419_sample-80154531/*.ipch
/Debug/*.lastbuildstate
/Release/*.lastbuildstate
/Debug/*.manifest
/Release/*.manifest
/*.sdf
/*.sln
/Debug/*.tlog
/Release/*.tlog
/*.vcxproj
/Debug/*.rc
/Debug/*.res
